# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# test coverages
.nyc_output
coverage
lib-cov

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# npm
*.npm
*.tgz
package-lock.json
npm-debug.log*

# yarn
.yarn-integrity
yarn.lock
yarn-debug.log*
yarn-error.log*

# babel
.babelrc

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# next.js build output
.next

# misc
.DS_Store
